*,
*:after,
*:before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: large;
}


.container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;

}

.calculator {
   max-width: 50%;
   width: 400px;
   height: 550px;
   background: lightgrey;
   border: 2px solid black;
   border-radius: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   gap: 10px;
   padding: 25px;
}

.display {
   height: 120px;
   background: white;
   border: 2px solid black;
   border-radius: 5px;
   grid-column: span 4;
   margin-bottom: 10px;
}

.clear {
   background: lightgreen;
   border: 2px solid black;
   border-radius: 5px;
   grid-column: span 2;
   height: 65px;
   text-align: center;
   padding: 17px;
}

.delete {
   background: lightcoral;
   border: 2px solid black;
   border-radius: 5px;
   grid-column: span 2;
   height: 65px;
   text-align: center;
      padding: 17px;
}

.num-7 {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.num-8 {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.num-9 {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.divide {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.num-4 {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.num-5 {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.num-6 {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.multiply {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.num-1 {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.num-2 {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.num-3 {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.substract {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.dot {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.num-0 {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.equals {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}

.add {
   background: white;
   height: 65px;
   border: 2px solid black;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
}